/.ipynb_checkpoints/
/bin/
/conda-meta/
/lib/
/var/
/share/
/ssl/
/resources/
/qml/
/plugins/
/phrasebooks/
/etc/
/include/
/mkspecs/
/translations/
/doc/
/man/
/libexec/
*.freedesktop.dbus-session.plist
